html {
    background: url("background2.png") top no-repeat, url("background.png") bottom no-repeat;
    background-size: cover;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    background: none;
    padding: 25px;
}

.parallax {
    background: url("homebackground.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.parallax2 {
    background: url("homebackground2.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

p {
    font-family: "Quicksand", sans-serif;
    color: black;
}

@media screen and (max-width:700px) {
    .parallax {
        background: url("homebackground.png") no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        height: 300px;
    }

    .parallax2 {
        background: url("homebackground2.png") no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        height: 300px;
    }
}
